//Styles
html {
    font-size : 12px;
}
input {
    margin-bottom : 0 !important;
}
.lastfmbot-results-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 250px;
}
.lastfmbot-results-list li[selected=selected] {
    background: rgb(243, 255, 223);
}

.lastfmbot-results-list li:after {
    position: absolute;
    top: 0;
    left: 93%;
    right: 0;
    content: '';
    bottom: 20px;

    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

}
.lastfmbot-results-list li[selected=selected]:after {
    background: -moz-linear-gradient(left,  rgba(243,255,223,0) 0%, rgba(243,255,223,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(243,255,223,0)), color-stop(100%,rgba(243,255,223,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(243,255,223,0) 0%,rgba(243,255,223,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(243,255,223,0) 0%,rgba(243,255,223,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(243,255,223,0) 0%,rgba(243,255,223,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(243,255,223,0) 0%,rgba(243,255,223,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f3ffcb', endColorstr='#f3ffcb',GradientType=1 ); /* IE6-9 */
    
}

.lastfmbot-results-list li._waiting:after {
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
}
.lastfmbot-results-list li._waiting{
    background: rgb(255, 255, 255) !important;
}

.lastfmbot-results-list li._process{
    background: rgb(129, 240, 255) !important;
}

.lastfmbot-results-list li._process:after {
    background: none;
}

.lastfmbot-results-list li._added:after {
    background: -moz-linear-gradient(left,  rgba(208,255,129,0) 0%, rgba(208,255,129,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(208,255,129,0)), color-stop(100%,rgba(208,255,129,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(208,255,129,0) 0%,rgba(208,255,129,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(208,255,129,0) 0%,rgba(208,255,129,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(208,255,129,0) 0%,rgba(208,255,129,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(208,255,129,0) 0%,rgba(208,255,129,1) 100%); /* W3C */
    
}
.lastfmbot-results-list li._added {
    background: rgb(208, 255, 129) !important;
    animation: hide 1s;
    -webkit-animation: hide 1s; /* Safari and Chrome */
}

.lastfmbot-results-list li._starting {
    animation: blind 1s infinite;
    -webkit-animation: blind 1s infinite; /* Safari and Chrome */
}

.lastfmbot-results-list li {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    margin: 5px;
    box-shadow: 0 0 4px rgba(0,0,0, 0.3);
    width: 160px;
    overflow: hidden;
    font-size: 0.8em;
    cursor: pointer;
}

.lastfmbot-results-list-item-ctrl {
    position: absolute;
    bottom: 0;
    right : 5px;
}

.lastfmbot-results-list-item-fav[selected=selected]{
    color: rgb(226, 34, 88);
}

.lastfmbot-results-list li h3 {
    margin: 2px 0 4px 0; 
    white-space: nowrap;
    line-height: 15px;
    font-size: 15px;
}


.lastfmbot-results-list li .glyph {
    font-size: 14px;
    cursor : pointer;

}
.lastfmbot-results-list li p {
    margin: 2px 0 2px 0; 
    white-space: nowrap;
}
.lastfm-task-header {
    padding : 0 6px 0 6px;
}
.lastfm-task-header-wrapper {
    position : relative;
    margin-right: 15px;
}
.lastfm-task-header-progress {
    transition: width 0.2s;
    -webkit-transition: width 0.2s; /* Safari */

    position: absolute;
    height: 100%;
    background: rgb(204, 255, 73);
    top: 0;
    z-index: -1;

}
.lastfm-taskboard-task-panel {
  position: fixed;
  top: 0;
  right: 10px;
  width: 220px;
  height: 100%;
  overflow: auto;
  font-size: 0.8em;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/OpenSans.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/OpenSans-Book.woff) format('woff');
}


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/OpenSans-Semibold.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/OpenSans-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(../fonts/OpenSans-Extrabold.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(../fonts/OpenSans-Italic.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(../fonts/OpenSans-SemiboldItalic.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(../fonts/OpenSans-BoldItalic.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url(../fonts/OpenSans-ExtraboldItalic.woff) format('woff');
}


@font-face {
    font-family: 'Icons';
    src: url('/resources/fonts/glyph.eot');
    src: url('/resources/fonts/glyph.woff') format('woff'),
         url('/resources/fonts/glyph.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Open Sans', sans-serif !important;
}


.glyph{
    font-family: Icons;   
}

.unselectable {
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;
}


.fs-s {
    font-size: 0.8em;
}

@keyframes blind
{
    0% {
        background: #fff;
    }
    50% { 
        background: rgb(129, 240, 255);
    }
}

@-webkit-keyframes blind /* Safari and Chrome */
{
    0% {
        background: #fff;
    }
    50% { 
        background: rgb(129, 240, 255);
    }
}

@keyframes hide
{
    0% {
        opacity: 1;
    }
    50% { 
        opacity: 1;
    }

    99% { 
        opacity: 0;
    }
    100% {
      opacity: 0;
    }
}

@-webkit-keyframes hide /* Safari and Chrome */
{
    0% {
        opacity: 1;
    }
    50% { 
        opacity: 1;
    }

    99% { 
        opacity: 0;
    }
    100% {
      opacity: 0;
    }
}

